:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #EAEAEA;
  --borderhover: #C9C9C9;
  --secondarytext: #666666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --border: #2E2E2E;
    --borderhover: #454545;
    --secondarytext: #A0A0A0;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 0px;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 640px) {
  body {
    padding: 0px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
