.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    gap: 20px;
    font-weight: 450;
}

.linkcontainer {
    display: flex;
    flex-direction: column;
}

.linkitem {
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 8px;
    font-size: 1rem;
    color: var(--secondarytext);
    font-weight: 450;
}

.linkitem a:hover {
    color: var(--foreground);
}