.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    gap: 20px;
    font-weight: 400;
}

.linkcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linkitem {
    display: flex;
    width: 25%;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    color: var(--secondarytext);
    font-weight: 450;
}

.linkitem p {
    width: 100%;
}

.linkitem a {
    width: 100%;
}

.linkitem a:hover {
    color: var(--foreground);
}

@media (max-width: 640px) {
    .linkitem {
        width: 70%;
    }
}

